 @import "tailwindcss";
 @import "cssComponents/animation.css";
 @import "cssComponents/main.css";
 @import "cssComponents/comments.css";
 @import "cssComponents/hover.css";
  @theme {
  --breakpoint-1200px: 1200px;
  --breakpoint-1500px: 1500px;
  --breakpoint-800px: 800px;
  --breakpoint-1050px:1050px;
  --breakpoint-550px: 550px;
  --breakpoint-450px: 450px;
}
 
body {
     background: #cfcfcf;     
     width: 100%;
     height: auto;
}
header {
   position: relative;
   width: 100%;
   height: 60px; 
   background: hsla(0, 0%, 0%, 0.419);         
   z-index: 2000;  
   border-bottom-right-radius:5px; 
   border-bottom-left-radius:5px;  
   @media(max-width: 500px) {
     
   }

}
main {       
    width: 100%;
    height: auto;
    min-height: 900px;   
}
.wrapper {     
     width: 100%;
     box-sizing: border-box;
     background: url('../public/img/bg-1.jpg') no-repeat center / cover; 
     background-attachment: fixed;
}
header span:nth-child(2) {
     &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 1px;
                background: #fff;
                margin-bottom: 4px;
                margin-right: 2px;
                }
                &::after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 1px;
                background: #fff;
                margin-bottom: 4px;
                margin-left: 2px;                        
                }
}
