 @import "tailwindcss";
 @import "cssComponents/animation.css";
 @import "cssComponents/main.css";
 @import "cssComponents/comments.css";
  @theme {
  --breakpoint-800px: 800px;
  --breakpoint-1050px:1050px;
  --breakpoint-550px: 550px;
  --breakpoint-450px: 450px;
}
 * {
    margin: 0;
    padding: 0;
    outline: none;
      
}
body {
     background: url('../public/img/bg-1.jpg') no-repeat center / cover; 
      background-attachment: fixed;
     width: 100%;
     height: auto;
}
header {
    padding: 30px 0px;
    text-align: center;         
}
main {
      
    margin: 0 auto;
    position: relative;
    width: 75%;
    height: auto;
    min-height: 900px;   
}
