 @import "tailwindcss";
 @import "cssComponents/header.css";
 @import "cssComponents/burgerMenu.css";
 @import "cssComponents/animation.css";
 @import "cssComponents/main.css";
 @import "cssComponents/comments.css";
  @theme {
  --breakpoint-1200px: 1200px;
  --breakpoint-1500px: 1500px;
  --breakpoint-800px: 800px;
  --breakpoint-1050px:1050px;
  --breakpoint-550px: 550px;
  --breakpoint-450px: 450px;
}
 
body {          
     width: 100%;
     height: auto;
     background: url('../public/img/bg-1.jpg') no-repeat center / cover;
}
.wrapper {     
     width: 100%;
     box-sizing: border-box;      
     background-attachment: fixed;
}
main {       
    width: 100%;
    height: auto;      
}
footer {
    width:100%;
    height: auto;
   
}

