main .search {
   padding: 30px 30px;
}
main #movies {    
    width: 75%; 
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;   
    overflow-y: hidden;
    object-fit: contain;
    padding: 20px 10px;    
    margin-top: 100px;
    @media(max-width:500px) {
        width: 100%;
    }
}
.movie {  
    width: 75%; 
    
    display: flex;
    flex-direction: column;   
    gap: 10px;
    flex: 0 0 300px;
    color: #fff;   
    box-sizing: border-box;
   
    cursor: pointer;
    
    @media(max-width: 1250px) {
              width: 40%; 
    }
    @media(max-width: 1050px) {
               flex: 1;
    }
    @media(max-width:500px) {
              width: 100%;
               flex: 0 0 300px;
    }
}
.movie img {
    width: 300px;
    min-width: 150px;
    height:300px;
    object-fit: cover;
    transition: transform 500ms ease;
    border-radius: 15px;
    @media(max-width: 650px) {
        min-width: 250px;
    }
}
.movie img:hover {
    transform: scale(1.05);
} 
.movie h3 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    min-height: 30px;
}
.movie p {
     min-height: 30px;
}
.search button {      
    padding: 7px 15px;   
    background: url('../public/img/bg-1.jpg') no-repeat center / cover; 
    box-shadow: 0px 0px 15px 5px rgba(230, 229, 231, 0.75);
    cursor: pointer;    
    transition: transform 500ms ease;    
} 
.search button:hover {
    transform: translateY(-5px);
}
.search input {
    padding: 7px 15px;
}
 @media(max-width: 500px) {
    .search i {
        font-size: 20px;        
    }
 }
.search i {
    font-size: 30px;
    color: #fff;
     @media(max-width: 600px) {
        font-size: 22px;
     }
}
.search input:focus {
    box-shadow: 0px -1px 25px 8px rgba(127, 37, 155, 0.75);    
}
.block-film { 
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;  
    @media(max-width: 1050px) {
      flex-direction: column;
      align-items: center;
     
    }
}
.block-film .movie-sidebar {  
    width: auto;
    min-width: 30%;
    color: #fff;   
}
.movie-sidebar {
   position: absolute;
   z-index: 1000;
   top: 0;
   right: 0;   
   height: 100vh;
   width: 25%;
   background: url('../public/img/bg-1.jpg') no-repeat center / cover; 
   transform:  translateX(100%);
   
   border-bottom-right-radius: 15px; 
   border-bottom-left-radius: 15px;
   padding-top: 70px;
   @media(max-width: 1400px) {
    width: 40%;
   }
   @media(max-width: 900px) {
    width: 60%;
   }
   @media(max-width: 600px) {
    width: 70%;
   }
}    
.movie-sidebar.loaded {
    transition: transform 700ms ease;
}
.active-sidebar-menu {
    transform: translateX(0);
}


.movie-sidebar ul {
    list-style: none;  
    margin-left: 50px; 
}
.movie-sidebar ul li {    
    padding: 15px 15px;
    cursor: pointer;    
}
.movie-sidebar ul li:hover {
     background:  hsla(0, 0%, 0%, 0.567);
     border-radius: 10px;
}
#list-open {
    position: absolute;
    z-index: 100;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms ease;   
     @media(max-width: 500px){
        left: -100px;
    }   
}
#list-open.active {
    width: 30%;
    opacity: 1;
    max-height: 300px;  
   
   
}
#arrow.active {
    transform: rotate(90deg);
}
#arrow {
    transition: all 500ms ease; 
}
.movie-sidebar i {
    margin-left: 15px;
    font-size: 15px;
}
#serial:hover {
    box-shadow: 7px 3px 18px 2px rgba(0,0,0,0.75);
}
#serial{
    position: relative;
}
#image {  
    width: 35%;
    float: right;
    z-index: 0; 
    opacity: 1;
    transition: opacity 1s ease;
    padding: 10px;
    border-radius: 15px;
     @media(max-width: 800px) {
         width: 100%;
        flex: 1 1 100%;
        object-fit: cover;
     }
  
}
.block-open {
 width: 50% !important;
}
.block-image {
    width: 75%;   
    height: auto;
    min-height: 300px;
    margin: 0 auto;    
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
    color: #f5f1f1;    
   object-fit: contain;
   box-shadow: 0px -1px 16px 8px rgba(235, 229, 238, 0.75);
   @media(max-width: 800px) {
        flex-direction: column;       
    }
    @media(max-width: 800px) {
       box-shadow: none;
    }
    @media(max-width: 500px) {
        box-shadow: none;
        width: 100%;
        height: 50%;
    }
    
}
.block-image h3,
.block-image p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;  
    @media(max-width: 600px) {
        font-size: 20px;
        
    }
     
}
.block-image .title {   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    gap: 50px;
    padding: 10px;
    @media (max-width: 800px) {

    }
}
.block-image img {
    width: 100%;
    border-radius: 7px;
    
}

    


